.contact {
  background-color: #292929;
}
.contact .contact__title .content__header_title,
.contact .contact__title .content__header_subtitle {
  color: #fff;
}

.contact__bodi {
  padding: 0 5%;
}
.contact__grup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact__grup__item {
  text-align: center;
  width: 240px;
  margin: 0 3.3%;
  margin-top: 30px;
}
.contact__grup__info {
  .contact__grup__icon::before {
    display: inline-block;
    border-radius: 50%;

    width: 105px;
    height: 105px;
    background-color: #3949ab;
    color: #fff;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 5px;
    padding-left: 2px;
    font-size: 4em;
    transition: box-shadow 0.3s ease;
  }
}

.contact__grup__info .contact__grup__icon:hover::before {
  box-shadow: 0px 0px 10px 2px #fff;
}

.contact__grup__link {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.contact__grup__link:hover {
  color: #00897b;
}

.contact__mesege form {
  width: 100%;
  margin: 4em auto;
}
.contact__mesege [type="text"],
[type="Email"],
[type="tel"] {
  width: 48%;
  height: 3em;
  margin: 1em auto;
  border: none;
  border-radius: 10px;
 
  text-indent: 20px;
  color: #212121aa;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  /* Text style for "W, rite Ma" */
  letter-spacing: 1px;
}
.contact__mesege [type="Email"],
[name="contacSurname"] {
  float: right;
}
.contact__mesege [type="text"]:focus,
[type="Email"]:focus,
[type="tel"]:focus,
textarea:focus {
  box-shadow: 0px 0px 5px 1px #00897b;
border: none;
}
.contact__mesege textarea {
  width: 100%;
  height: 15em;
  margin: 1em auto;
  border: none;
  border-radius: 10px;
  padding: 10px 0;

  text-indent: 20px;
  color: #212121aa;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 1px;
}
.contact__mesege [type="submit"] {
  background-color: #FFFFFF;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;

  float: right;
  width: 10em;
  height: 3em;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.contact__mesege [type="submit"]:hover {
  color: #fff;
  box-shadow: 0px 0px 5px 3px #fff;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4fccd1+0,00c9bc+17,00b5a8+33,3c877e+67,00897b+83,095409+100 */
  background: rgb(79, 204, 209); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(79, 204, 209, 1) 0%,
    rgba(0, 201, 188, 1) 17%,
    rgba(0, 181, 168, 1) 33%,
    rgba(60, 135, 126, 1) 67%,
    rgba(0, 137, 123, 1) 83%,
    rgba(9, 84, 9, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(79, 204, 209, 1) 0%,
    rgba(0, 201, 188, 1) 17%,
    rgba(0, 181, 168, 1) 33%,
    rgba(60, 135, 126, 1) 67%,
    rgba(0, 137, 123, 1) 83%,
    rgba(9, 84, 9, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(79, 204, 209, 1) 0%,
    rgba(0, 201, 188, 1) 17%,
    rgba(0, 181, 168, 1) 33%,
    rgba(60, 135, 126, 1) 67%,
    rgba(0, 137, 123, 1) 83%,
    rgba(9, 84, 9, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fccd1', endColorstr='#095409',GradientType=0 ); /* IE6-9 */
}
