.portfolio__footer,
.portfolio__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: auto;
  text-align: center;
}

.portfolio .portfolio__nav__link {
  position: relative;

  margin: 5px;
  padding: 14px 20px;
  border: 2px solid #00897b;
}

.portfolio__nav__link:nth-child(1) {
  padding: 14px 28px;
}
.portfolio__nav__link:last-child {
  padding: 14px 35px;
}

.portfolio__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8.5% auto 7% auto;
}

.portfolio__body__item {
  position: relative;
  width: 370px;
  height: 370px;
  margin-bottom: 3.7%;

  background-color: #e4f0f0;

  transition: transform 0.3s ease;

  .bg-portfolio__body__item {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .bg-portfolio__body__item:hover {
    opacity: 1;
    color: #ffffff;
  }

  .title-portfolio__body__item {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1px;
  }

  .subtitle-portfolio__body__item {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.75px;
  }

  .portfolio__body__item_image {
    width: 100%;
  }
}

.portfolio__body__item:hover {
  transform: scale(1.1);
}

.portfolio__footer .portfolio__footer__link {
  padding: 20px 60px;
  border: 2px solid #00897b;
}

//! Portfolio Page.

.portfolio__page {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__entry_details {
  width: 30%;
  margin: 0 3%;

  h1 {
    color: #212121;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1.5px;
    margin-bottom: 18px;
  }

  p {
    color: #212121aa;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.75px;
  }

  .page_numbers {
    text-align: left;
  }
}

.portfolio__meta_list {
  color: #212121aa;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.75px;

  margin-bottom: 50px;

  li {
    margin-bottom: 15px;
  }

  span {
    color: #212121;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0.75px;
  }
}

.portfolio__meta_link {
  margin-bottom: 40px;

  .buttom__link {
    font-size: 20px;
    padding: 3% 4%;
  }
}
.portfolio__skin {
  position: relative;
  width: 50%;
  height: 2200px;
  margin: 0 3%;
  margin-right: 8%;
  img:first-child {
    width: 100%;
    cursor: zoom-in;
  }
  img:last-child {
    position: absolute;
    width: 50%;
    top: 8%;
    right: -15%;
    cursor: zoom-in;
  }
}
