
@media(min-width:1800px){
 body{font-size: 160%;} 	
}
@media (max-width:1300px) {
  body{font-size: 80%;} 
  .navbar{width:70%;} 
}
@media (max-width:1000px) {
  body{font-size: 60%;}  
}



@media (max-width:650px) {
	.section .h1, .p{display:none;}
	.header .navbar{
		position: relative;
	}
	.header .navbar ul{
		background-color: #FFF;
		position: absolute;
		width: 200px;
		z-index: 1;
		font-size:16px;
		top: 12px;
		right:-30px;
		display: none;
		transition: opacity 0.3s;
	}
	.header .navbar li{
		margin: 20px;
	}
	.navbar label{
		display:block;
	}
	input.targglemenu:checked ~ ul {
		display: block;
	}

}


@media (max-width: 650px) {
	section.container-1{
		padding: 5% 2%;
		grid-template-areas: 
		"box-1"
		"box-2"
		"box-3"
		"box-4"
	;}
	section.container-2{
		grid-template-areas: 
		"box-1"
		"box-2"
		"box-3"
		"box-4"
		"box-5"
		"box-6"
		"box-7"
	;}
	section.container-3{
		grid-template-areas: 
		"box-1"
		"box-2"
		"box-3"
		"box-4"
		"box-5"
		"box-6"
		"box-7"
		"box-8"
		"box-9"
	;}
}

@media (max-width: 950px) {
	.container-1{
		padding: 5% 2%;
		grid-template-areas: 
		"box-1 box-1"
		"box-2 box-3"
		"box-4 box-4"
	;}
	.container-2{
		grid-template-areas: 
		"box-1 box-1"
		"box-2 box-3"
		"box-4 box-5"
		"box-6 box-7"
	;}
	.container-3{
		grid-template-areas: 
		"box-1 box-1"
		"box-2 box-2"
		"box-3 box-4"
		"box-5 box-6"
		"box-7 box-8"
		"box-9 box-9"
	;}
}




